<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Atualizar Voo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>Código de Voo {{flight.codigo_voo}}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
<form method="post">
{% csrf_token %} 

<div class="form-outline mb-4">
{{form.airline}}
<label class="form-label" for="form3Example3">Linha Aérea</label>
</div>
<!-- Password input -->
<div class="form-outline mb-3">
{{form.departureAirport}}
<label class="form-label" for="form3Example4">Aerporto de Partida</label>
</div>
<div class="form-outline mb-3">
{{form.destinationAirport}}
<label class="form-label" for="form3Example4">Aerporto de Destino</label>
</div>
<div class="form-outline mb-3">
{{form.estDepartureTime}}
<label class="form-label" for="form3Example4">Partida Prevista</label>
</div>
<div class="form-outline mb-3">
{{form.estArrivalTime}}
<label class="form-label" for="form3Example4">Chegada Prevista</label>
</div>

{% include 'messages.html' %}
<div class="pt-1 mb-4">
<div> 
<input class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #e46a68;" type="submit" value="Login" />
                    <a href="/MonitorarVoo/{{flight.codigo_voo}}" class="btn btn-secondary">
                                Cancelar Alterações
                        </a>
</div>
</div>

            </div>
        </div>
    </div>
</body>

</html>
