<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Atualizar Voo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
</head>

<body>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>Código de Voo {{flight.codigo_voo}}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <form class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" method="post">
                        {% csrf_token %} {{ form }}
                </div>
                <div class="col-md-2" style="
                            display: flex;
                            flex-direction: horizontal;
                            height: 100%;
                            width: 100%;
                        ">
                    <a><input type="submit" class="btn btn-primary" value="Salvar Voo" />
                    </a>
                    <a href="/MonitorarVoo/{{flight.codigo_voo}}" class="btn btn-secondary">
                                Cancelar Alterações
                            
                        </a>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>