<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="../static/images/world.svg"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        <form  method="post">
                                        {% csrf_token %} 
                                        
                                        <div class="form-outline mb-4">
             {{form.username}}
                                                          <label class="form-label" for="form3Example3">Usuário</label>
                                        </div>
                                        <!-- Password input -->
                                        <div class="form-outline mb-3">
{{form.password}}
                                          <label class="form-label" for="form3Example4">Senha</label>
                                        </div>
                              
                            <div class="pt-1 mb-4">
                               <div> 
                                <input class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #e46a68;" type="submit" value="Login" />
                            </div>
                            </div>
                            {% include 'messages.html' %}
                        </form>
                                    </div>
                                  </div>
                                </div>
   
                              </section>

    </body>
</html>