<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Monitorar Voo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.1/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-Yzz+k0rjOAAPX4Nkr73zQvppd6buXomR9n4uQ5lrSYE=" crossorigin="anonymous">
</head>

<body>
    {% block content %}


    <ol class="progress-tracker" id="basicProgressTracker">
        <li class="progress-tracker-item completed" aria-current="true" data-bs-target="#basicExampleStep1">
            <span class="progress-tracker-label">Não Iniciado</span>
          </li>
        {% if status == "EMBARCANDO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Embarcando</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Embarcando</span>
          </li>
        {% endif %}

        {% if status == "PROGRAMADO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Programado</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Programado</span>
          </li>
        {% endif %}
        
        {% if status == "TAXIANDO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Taxiando</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Taxiando</span>
          </li>
        {% endif %}

        {% if status == "PRONTO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Pronto</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Pronto</span>
          </li>
        {% endif %}

        {% if status == "AUTORIZADO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Autorizado</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Autorizado</span>
          </li>
        {% endif %}

        {% if status == "EM VOO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Em VVoo</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Em Voo</span>
          </li>
        {% endif %}

        {% if status == "ATERRISSADO" %}
        <li class="progress-tracker-item active" aria-current="true" data-bs-target="#EMBARCANDO">
          <span class="progress-tracker-label">Aterrissado</span>
        </li>
        {% else %}
        <li class="progress-tracker-item" aria-current="true" data-bs-target="#EMBARCANDO">
            <span class="progress-tracker-label">Aterrissado</span>
          </li>
        {% endif %}
      </ol>
      {%if role == "pilot" and  status in allowedPilot %}
            {% if status != "ATERRISSADO"%}
    <a href="/MonitorarVoo/{{flight.codigo_voo}}/UpdateStatus/{{status}}/{{role}}"><button
        type="button"
        class="btn btn-primary"
    >
        Próximo Status
    </button>
    </a>
            {%endif%}
    {%elif role == "employee" and status in allowedEmployee %}
    <a href="/MonitorarVoo/{{flight.codigo_voo}}/UpdateStatus/{{status}}/{{role}}"><button
        type="button"
        class="btn btn-primary"
    >
        Próximo Status
    </button>
    </a>

    <a href="/MonitorarVoo/{{flight.codigo_voo}}/cancel"><button
        type="button"
        class="btn btn-primary"
    >
        Cancelar Voo
    </button>
    </a>
    {%else%}
    {%endif%}


      <!-- <div class="tab-content">
        <div class="tab-pane" id="basicExampleStep1">Step 1 content</div>
        <div class="tab-pane active" id="basicExampleStep2">Step 2 content</div>
        <div class="tab-pane" id="basicExampleStep3">Step 3 content</div>
        <div class="tab-pane" id="basicExampleStep4">Step 4 content</div>
      </div> -->


    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <a href="/ListaVoos">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path
                                fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                            />
                        </svg>
                </a>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>Código de Voo {{flight.codigo_voo}}</h5>
                </div>
            </div>
            {% if role == "operator" %}
            <div class="col-md-2">
                <a href="/AtualizarVoo/{{flight.codigo_voo}}/{{role}}"><button type="button" class="btn btn-primary">
                            Atualizar Cadastro
                        </button>
                    </a>
            </div>
            
            {% else %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Status</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{flight.estado.status_voo}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Linha Aérea</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{flight.companhia_aerea}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Rota</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{flight.rota.aeroporto_saida}}-{{flight.rota.aeroporto_destino}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Horário Previsto de Partida</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{flight.previsao.partida_prevista|date:"d/m/Y - H:i"}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Horário Previsto de Chegada</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{flight.previsao.chegada_prevista|date:"d/m/Y - H:i"}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Horário Real de Partida</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{flight.real.partida_real|date:"d/m/Y - H:i"}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Horário Real de Chegada</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{flight.real.chegada_real|date:"d/m/Y - H:i"}}
                                </p>
                            </div>
                        </div>
                        {% if role == "manager"%}
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/GerarRelatorioVoo/{{flight.codigo_voo}}"><button
                                            type="button"
                                            class="btn btn-primary"
                                        >
                                            Gerar Relatório do Voo
                                        </button>
                                    </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if role == "pilot" %}
            <form method="post">
                {% csrf_token %}
                <div class="formWrapper">{{ form }}</div>
                <input type="submit" value="Atualizar" />
            </form>
            {% endif %}
        </div>
        {% include 'messages.html' %}
    </div>
    {% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.1/dist/js/fastbootstrap.min.js" integrity="sha256-EA7CcsZVlKgu1Vdk1Nsl648ddvyavbdyjR/vnaTuomk=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.1/dist/js/fastbootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.1/dist/js/fastbootstrap.min.js"></script>

</body>

</html>
